.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}
image {
  display: block;
}
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
button {
  cursor: pointer;
}

.advantages {
  background-color: #fff5f6;
  padding-bottom: 60px;
}
.ingredients {
  display: flex;
  flex-wrap: wrap;
}
.ingredients__item:not(:last-child) {
  margin-bottom: 32px;
}

.ingredients__title {
  font-family: "Titan One";
  width: 98px;
  height: 56px;
  font-weight: 400;
  font-size: 36px;
  line-height: calc(36 / 41);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: #d41443;
}
.ingredients__text {
  font-family: "DM Sans";
  width: 230px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);

  color: #000000;
}

.ingredients__item::before {
  display: block;
  content: "";
  margin-bottom: 16px;

  height: 50px;

  background-repeat: no-repeat;
}

.ingredients__milk:before {
  display: block;
  content: "";
  margin-bottom: 16px;

  height: 50px;

  background-repeat: no-repeat;
  background-image: url("../test-icecream/img/milk-ingredients.png");
}
.ingredients__apple::before {
  background-image: url("../test-icecream/img/apple-ingredients.png");
}
.ingredients__heart::before {
  background-image: url("../test-icecream/img/heart-ingredients.png");
}
